<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Burberry Group</title>
<style type="text/css">
body,td,th {
    color: #0D04C7;
}
body {
    background-color: #C9D6F4;
    text-align: left;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 24px;
}
</style>
</head>

<body>
<p style="text-align: left"><span style="text-align: left"></span><img src="technology-banner.jpg" width="527" height="205" alt=""/><img src="Burberry.png" width="432" height="178" alt=""/> <span style="text-align: right"></span><img src="canasta.png" alt="" width="144" height="86" usemap="#Map"/>
  <map name="Map">
    <area shape="poly" coords="41,7" href="#">
  </map>
<img src="arrow-1217939_960_720.png" width="103" height="85" alt=""/></p>
<div class="containereliminar">
  <p>
    <label for="search">Search:</label>
    <input type="search" name="search" id="search">
  </p>
  <ul>
    <li>Televisores</li>
    <li>Computadores</li>
    <li>Gamiming</li>
    <li>Camaras</li>
    <li>Audifonos</li>
    <li>Parlantes</li>
    <li>Smartwatch</li>
    <li>Hogar Inteligente</li>
  </ul>
  <p><img src="P40-SmartWatch.png" width="387" height="259" alt=""/><span style="text-align: left; color: #C7031C;"> .<img src="Android_Wear_20_Watch_Face.gif" width="300" height="264" alt=""/></span><span style="text-align: left; color: #C7031C; font-size: larger;">$201.420  envio Gratis</span></p>
  <p><span style="text-align: left; color: #170003; font-size: 24px;">Reloj inteligente deportivo P40, pulsera de 1,65 pulgadas, IPS, resistente al agua, con Bluetooth, llamadas manos libres, MTK2502C, para Android, IOS, PK, T500, W54, W26. </span></p>
  <table width="447" border="5" cellpadding="6">
    <tbody>
      <tr>
        <th width="156" scope="row">CATEGORIA</th>
        <td width="247">Smartwatch</td>
      </tr>
      <tr>
        <th scope="row">CODIGO DE PRODUCTO</th>
        <td>P40</td>
      </tr>
      <tr>
        <th scope="row">NOMBRE DEL PRODUCTO</th>
        <td>P40 Smartwarch última generacion </td>
      </tr>
      <tr>
        <th scope="row">MODELO</th>
        <td>BLAzhinengshouhuan7644</td>
      </tr>
      <tr>
        <th scope="row">COLOR</th>
        <td>Negro, Gris y Rosa</td>
      </tr>
      <tr>
        <th scope="row">ID DEL PROVEDOR</th>
        <td>34</td>
      </tr>
      <tr>
        <th height="116" scope="row">STOCK DEL PRODUCTO EN BODEGA</th>
        <td>4 NEGROS, 2 GRISES Y 1 ROSA.</td>
      </tr>
    </tbody>
  </table>
  <p>
    <input type="button" name="button" id="button" value="Editar Producto"> 
  <input type="button" name="button" id="button" value="Eliminar Producto"> 
</p>
	
</div>

</body>
</html>
