<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IniciarSesion</title>
<style type="text/css">
body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #0C22C7;
	font-style: normal;
	font-weight: bold;
}
body {
    background-color: #DEE6FC;
    font-size: 24px;
    color: #081FCD;
    text-align: center;
}
</style>
</head>

<body>

<p><img src="../static/img/Burberry.png" width="238" height="82" alt=""/></p>
<p><span style="text-align: center"><img src="../static/img/fondo1.jpg" width="1318" height="277" alt=""/></span></p>
<p><em>INICIAR SESION</em></p>
<div id="container">
  <p>Email <span style="text-align: center">
  <input type="text" name="textfield" id="textfield">
  </span></p>
<p style="text-align: center">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
</p>
<p >
  <span style="text-align: center">
    <input type="button" name="button" id="button" value="Iniciar Sesion">
</span></p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
